@tailwind base;
@tailwind components;
@tailwind utilities;
/****Global*****/
.content-wrap{
  /* max-width: 900px; */
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
h1{
  font-size: 50px;
  line-height: .5;
}
a {
  color:#EF3DF2;
}
a:hover{
  color:#04C4D9;
}
a:visted{
  color:#05F228;
}

/***Navigation******/
nav{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF3DF2;
}
nav li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}
nav li a{
  text-decoration: none;
}
nav li a:link{
  color:#3B67BF;
}
nav li a:hover{
  color:#04C4D9;
}
nav li a:visited{
  text-decoration: underline;
  color:#05F228;
}

/*********Blog Posts*************/
.blog-wrap{
  width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}
.blog-wrap p {
  font-size: 23px;
}
.blog-wrap strong, em{
  color:#3B67BF;
}




/*********Current events*************/
caption{
  font-size: large;
  font-weight: bold;
  color: #EF3DF2;
}
td{
  padding-left: 20px;
}
.events{
  column-width: 330px;
}
th{
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #3B67BF;
  border-top: 1px solid #04C4D9;
  text-align: center;
}
.event-wrap{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}