@tailwind base;
@tailwind components;
@tailwind utilities;
/****Global*****/
.content-wrap{
  /* max-width: 900px; */
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}
h1{
  font-size: 50px;
  line-height: 1;
}
img{
  padding: 10px;
}

/***Navigation******/
nav{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul{

  background-color: #EF3DF2;
}
nav li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}
nav li a{
  text-decoration: none;
}
a{
  color:#3B67BF;
}
a:active{
  color:#05f228;
}
a:hover{
  color:#04C4D9;
}
.current{
  color:aliceblue;
}
#nav img{
  width: 700px;
  height: 300px;
  display: block;
  margin: auto;
}


/*********Welcome/Index*************/
.welcome-wrap{
  width: 70%;
  margin: auto;
}
.item-welcome{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: thin solid #3B67BF;
}
.post1{
  grid-area: post1;
}
.post2{
  grid-area: post2;
}
.post3{
  grid-area: post3;
}
.post1, .post2, .post3{
  justify-content: center;
  padding-left: 5px;
}
strong{
  font-size: x-large;
}
.container{
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "post1 post2 post3"
}


/*********Blog Posts*************/
.blog-wrap{
  width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}
.blog-wrap p {
  font-size: 23px;
}
.blog-wrap strong, em{
  color:#3B67BF;
}




/*********Current events*************/
caption{
  font-size: large;
  font-weight: bold;
}
td{
  padding-left: 20px;
}
.events{
  column-width: 330px;
}
th{
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #3B67BF;
  border-top: 1px solid #04C4D9;
  text-align: center;
}
.event-wrap{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}


/************Contact US************/
input[type=reset], input[type=submit]{
  background-color: lightgray;
  border: none;
  padding: 6px 2px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=reset]:hover, input[type=submit]:hover{
  background-color: darkgray;
  border: none;
  padding: 6px 2px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*****Responsive*******/

#mobile	{display:none;}

#desktop	{ display: inline;}

@media only screen and (max-width:1024px) {
  #nav img{
    display: block;
    width: 350px;
    height: 120px;
    margin: auto;
  }
	#wrapper{ min-width: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;}
	/*header 	{5px solid #FEF6C2;} */
	h1 	{margin-top: 0;
		margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em;
    line-height: 1;}
	nav {float: none;
		width: auto;
		padding-top: 0;
		margin: 10px;
		font-size: 1.3em;}
	nav li 	{display: inline;}
	nav a	{padding: 1em;
		width: 8em;
		font-weight: bold;
		border-style: none;}
	main	{padding: 0;
		margin: 0;
		font-size: 90%}

}

@media only screen and (max-width: 768px) {
  #nav img{
    display: block;
    width: 300px;
    height: 200px;
    margin: auto;
    float: center;
  }
	h1 {font-size: 2em;
		text-align: center;
		padding-left: 0;}
	nav {margin:0;}
	nav a {display: block;
		padding: 0.2em;
		width: auto;
		border: 1px;
		border-color: #FEF6C2;}
	nav li {display: block;}
	main {padding-top: 1px;}
  h1{line-height: 1;}
	h2  {padding-top: 0.5em;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0.5em;}
	details {padding-left: 0;
		padding-right: 0;}
	floatleft	{padding-left: 0.5em;
		padding-right: 0.5em;}
	#mobile {display:inline;}
	#desktop {display: none;}
}